/*
Copyright © 2014, Florian Perdreau
This file is part of Journal Club Manager.

Journal Club Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Journal Club Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Journal Club Manager.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Form & Input field styles */
form {
    position: relative;
    margin: auto;
    text-align: left;
}

input[type="text"], input[type="email"], input[type="password"] {
    display: inline-block;
    width:200px;
    padding: 10px;
    border:1px solid rgba(207, 81, 81, .3);
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    margin: 10px auto;

    /* Styles */
    background: #f9f9f9;
    color: #777;
}

input[type="checkbox"] {
    float:left;
    margin-right:5px;
}

input[type="checkbox"]+label {float:left;}

textarea {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    margin: 10px auto;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    resize: none;

    /* Size and position */
    width: 90%;
    height: 200px;
    padding: 10px 18px 10px 45px;

    /* Styles */
    border:1px solid rgba(207, 81, 81, .3);
    background: #f9f9f9;
    color: #777;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #CF5151;
  border: 1px solid #CF5151;
}

select {
    min-width: 50px;
    width: auto;
    border: 1px solid rgba(207, 81, 81, 1);
    padding: 7px 6px;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(207, 81, 81, 1);
  border: 1px solid rgba(207, 81, 81, .8);
}

select#select_wish {
    width: 400px;
}

input[type="submit"], input[type="button"] {
    background: #F9F9F9; /* Set button background */
    border: 1px solid rgba(207, 81, 81, 1); /* Small border around our submit button */
    padding: 8px; /* Add some more space around our button text */
}

input[type="submit"]:hover, input[type="button"]:hover {
	color: #FFF;
    background: rgba(207, 81, 81, 1); /* Set button background */
    border: 1px solid #DFDFDF; /* Small border around our submit button */
    padding: 8px; /* Add some more space around our button text */
}

input[type="submit"]:active, input[type="button"]:active {
    color: #FFF;
    background: rgba(207, 81, 81, .5); /* Set button background */
    border: 1px solid #DFDFDF; /* Small border around our submit button */
    padding: 8px; /* Add some more space around our button text */
}

input.field {
    padding: 10px;
    display: inline-block;
    width: 300px;
}

label.label {
    display: inline-block;
    min-width: 150px;
    text-align: right;
    padding: 10px 0 10px 10px;
    margin: 0px 0 5px 5px;
}

.formcontrol {
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin: 10px;
    height: auto;
}

.formcontrol>div {
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 7px 6px;
    font-size: 12px;
    font-weight: 300;
    border:1px solid rgba(207, 81, 81, .3);
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);

    /* Styles */
    background: #f9f9f9;
    color: #777;
}

.formcontrol label{
    display: inline-block;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(207,81,81,.8);
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: #EEE;
    padding: 5px;
}

.formcontrol input, .formcontrol select, .formcontrol textarea {
    width: 90%;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 7px 6px;
    font-size: 12px;
    font-weight: 300;
}

.formcontrol input[type='radio'] {
    display: inline-block;
    width: 10%;
}

.submit_btns {
    margin: 0 auto 0 0;
    float: right;
    text-align: right;
}

