.float_input {
    position: relative;
    width: 100%;
    border: none;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 5px;
}

.float_input > input.wrongField + label, .float_select > input.wrongField + label {
    border: 2px solid rgba(207, 82, 82, .8);
    background-color: rgba(207, 82, 82, .1);
    color: rgba(207, 82, 82, .8);
}

.float_input > .inputFeedback, .float_select > .inputFeedback {
    font-weight: 100;
    color: #fff;
    background: rgba(200, 100, 100, .8);
    text-align: center;
    padding: 10px 5px;
    width: 30px;

    position: absolute;
    top: 0;
    z-index: 3;
    right: 0;
}

.float_input > input:focus + label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(207, 82, 82, .8);
    color: white;
    font-size: 60%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
    top: 100%;
    margin-top: -16px;
}

.float_input > input:focus, .float_select > select:focus {
    padding: 4px 6px 20px 6px;
    border: 1px solid rgba(207, 81, 81, .5);
}

.float_input > input:valid, .float_select > select:valid {
    background: white;
}

.float_input > label, .float_select > label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    min-width: 0;
    padding: 7px 6px;
    height: auto;
    line-height: 100%;
    box-sizing: border-box;

    transition:
            background 0.2s,
            color 0.2s,
            top 0.2s,
            bottom 0.2s,
            right 0.2s,
            left 0.2s;
    color: #999;
    background: none;
    border: none;
    text-align: left;

    font-size: 13px;
    background: white;
}

.float_input > input {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    max-width: none;

    background: none;
    position: relative;

    padding: 12px 12px;
    outline: 0;
    box-sizing: border-box;

    line-height: inherit;
    min-height: 0;
    min-width: 0;
}

.float_select {
    position: relative;
    border: 1px solid rgba(207, 81, 81, .3);
    margin-top: 5px;
}

.float_select select {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    max-width: none;

    background: white;
    position: relative;

    padding: 12px 12px;
    outline: 0;
    box-sizing: border-box;

    line-height: inherit;
    min-height: 0;
    min-width: 0;

    opacity: 0;

    border-radius: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
    height: auto;

    text-transform: capitalize;
}

.float_select > select:focus {
    padding: 20px 15px 5px 15px;
}

.float_select > select:valid + label {
    background: none;
    opacity: 0;
}

.float_select > select:valid {
    background: white;
    opacity: 1;
    border: 0;
}

.float_select > select:focus + label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(207, 82, 82, .8);
    color: white;
    font-size: 60%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: uppercase;
    top: 0;
    height: 16px;
    opacity: 1;
}

.float_select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #444;
}

.float_select select::-ms-expand {
    display: none;
}

.float_select > label:before {
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 33px;
    background: #ffffff;
    position: absolute;
    pointer-events: none;
    display: block;
}

.float_select > label:after {
    content: '>';
    font: 16px Consolas, monospace;
    color: rgba(207, 81, 81, .8);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 0;
    top: 8px;
    border-bottom: 1px solid rgba(207, 81, 81, .3);
    position: absolute;
    pointer-events: none;
    width: 40px;
    padding: 0 0 5px 0;
    background: white;
    text-indent: 14px;
}