/*
Copyright © 2014, Florian Perdreau
This file is part of Journal Club Manager.

Journal Club Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Journal Club Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Journal Club Manager.  If not, see <http://www.gnu.org/licenses/>.
*/

/* *********************************************************************/
/* Global overlay */
/* *********************************************************************/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/* *********************************************************************/
/* Publication modal window*/
/* *********************************************************************/
.popupContainer{
	position:absolute;
	width:400px;
	height: auto;
	left:400px;
	top:30px;
	background: #FFF;
}

.action_btns {
	display: inline-block;
	width: 100%;
	margin: 20px 0 10px;
	clear: both;
	text-decoration: none;
	color:#ED6347;
}

#modal_trigger {
    margin: 100px auto;
    width: 100px;
    display: block;
}

.error {
    display: none;
}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: #CF5151; color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #BE4141;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {
    max-height: 500px;
    padding:20px;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {
	display:block;
	margin: 20px 0 10px;
	clear: both;
	text-align: center;
	text-decoration: none;
	color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* Delete User Form */
.user_delete {display: none;}
.user_delete label {display: block; margin-bottom:5px;}
.user_delete input[type="text"], .user_delete input[type="email"], .user_delete input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_delete input[type="checkbox"] {float:left; margin-right:5px;}
.user_delete input[type="checkbox"]+label {float:left;}
.user_delete .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* change password Form */
.user_changepw {display: none;}
.user_changepw label {display: block; margin-bottom:5px;}
.user_changepw input[type="text"], .user_changepw input[type="email"], .user_changepw input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_changepw input[type="checkbox"] {float:left; margin-right:5px;}
.user_changepw input[type="checkbox"]+label {float:left;}
.user_changepw .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* ******************************************************************************* */
/* Publication modal window*/
/* ******************************************************************************* */

.pub_popupContainer{
    position:absolute;
    width:800px;
    height: auto;
    left:45%;
    top:80px;
    background: #FFF;
}

/* publication form */
.publication_form {display: none;}
.publication_form label {display: inline-block; margin-bottom:5px;}
.publication_form input[type="text"], .publication_form input[type="email"], .publication_form input[type="password"] {display: inline-blockblock; width:auto; padding: 10px; border:1px solid #DDD; color:#666;}
.publication_form input[type="checkbox"] {float:left; margin-right:5px;}
.publication_form input[type="checkbox"]+label {float:left;}
.publication_form .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

.pub_modify {display: none;}
.pub_modify label {display: inline-block; margin-bottom:5px;}
.pub_modify input[type="text"], .pub_modify input[type="email"], .pub_modify input[type="password"] {display: inline-blockblock; width:auto; padding: 10px; border:1px solid #DDD; color:#666;}
.pub_modify input[type="checkbox"] {float:left; margin-right:5px;}
.pub_modify input[type="checkbox"]+label {float:left;}
.pub_modify .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* Publication modal dialog */
.pub_caps {
    display: block;
    background-color: #dddddd;
    padding: 10px;
}

#pub_date {
    width:20%;
    display: inline;
}

#pub_title {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

#pub_orator {
    margin-right: 5px;
    text-align: right;
    width: 50%;
    display: inline;
}

.pub_abstract {
    display: block;
    padding: 10px;
    margin-top: 10px;
    text-align: justify;
    background-color: #eeeeee;
}

.pub_action_btn {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.pub_action_btn>div {
    vertical-align: top;
    display: inline-block;
}

.pub_one_half {width:50%; display: block; float:left; margin-bottom: 10px;}
.pub_one_half.last {width:45%; margin-left:5%; margin-bottom: 10px; text-align: right;}

.pub_one_half.last>div {
    vertical-align: top;
    display: inline-block;
}

.pub_btn {
    padding: 10px 10px;
    height: 20px;
    background: #E4E4E2;
    width: 100px;
    text-align: center;
}

.pub_btn a {
    color:#666;
    text-align: center;
    text-decoration: none;
}

.pub_btn:hover>a {
    color:#EEE;
    text-align: center;
    text-decoration: none;
}

.pub_btn:hover {
    color:#EEE;
    background: #CF5151;
}

.pub_delete {
    display: none;
}
