/*
Copyright © 2014, Florian Perdreau
This file is part of Journal Club Manager.

Journal Club Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Journal Club Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Journal Club Manager.  If not, see <http://www.gnu.org/licenses/>.
*/

/* *********************************************************************/
/* Global overlay */
/* *********************************************************************/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


.action_btns {
    display: inline-block;
    width: 100%;
    margin: 20px 0 10px;
    clear: both;
    text-decoration: none;
    color:#ED6347;
}

#modal_trigger {
    margin: 100px auto;
    width: 100px;
    display: block;
}

.error {
    display: none;
}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: #CF5151; color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #BE4141;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%; text-align: right;}

/* Popup Styles*/
.popupHeader {font-size:16px; font-weight: 300; text-transform: uppercase; color: #EEE;}
.popupHeader {background: rgba(207,81,81,.8); position: relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background: url('../images/delete.png') no-repeat; background-position: center center; background-size: 50% auto; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {
    max-height: 500px;
    padding:20px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
}


/* *********************************************************************/
/* Publication modal window*/
/* *********************************************************************/
.popupContainer{
	position:absolute;
	width:400px;
	height: auto;
	left:400px;
	top:30px;
	background: #FFF;
}

/* User Login Form */
.popupContainer .modal_section {
    display: none;
}
/*
.popupContainer .modal_section label {
    display: block; margin-bottom:5px;}
.popupContainer .modal_section input[type="text"], .modal_section input[type="email"], .modal_section input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.popupContainer .modal_section input[type="checkbox"] {float:left; margin-right:5px;}
.popupContainer .modal_section input[type="checkbox"]+label {float:left;}

.popupContainer .modal_section .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
*/

.forgot_password {
	display:block;
	margin: 20px 0 10px;
	clear: both;
	text-align: center;
	text-decoration: none;
	color:#ED6347;}

/* *********************************************************************/
/* Publication modal window*/
/* *********************************************************************/

.pub_popupContainer{
    position:absolute;
    width:800px;
    height: auto;
    left:45%;
    top:80px;
    background: #FFF;
}

/*.pub_popupContainer .modal_section {display: none;}
.pub_popupContainer .modal_section label {display: inline-block; margin-bottom:5px;}
.pub_popupContainer .modal_section input[type="text"], .modal_section input[type="email"], .modal_section input[type="password"], .modal_section textarea {display: inline-block; width:95%; padding: 10px; border:1px solid #DDD; color:#666;}
.pub_popupContainer .modal_section input[type="checkbox"] {float:left; margin-right:5px;}
.pub_popupContainer .modal_section input[type="checkbox"]+label {float:left;}
.pub_popupContainer .modal_section .checkbox {margin-bottom: 10px; clear: both; overflow: hidden
}
*/

/* Publication modal dialog */
input.dateinput {
    cursor: pointer;
    display: inline-block;
    width: auto;
}

.pub_caps {
    display: block;
    background-color: #dddddd;
    padding: 10px;
}

#pub_date {
    width:20%;
    display: inline;
}

#pub_title {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

#pub_orator {
    margin-right: 5px;
    text-align: right;
    width: 50%;
    display: inline;
}

.pub_abstract {
    display: block;
    padding: 10px;
    margin-top: 10px;
    text-align: justify;
    background-color: #eeeeee;
}

.pub_action_btn {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
    text-align: justify;
}

.pub_action_btn>div {
    vertical-align: top;
    display: inline-block;
}

.pub_one_half {width:50%; display: block; float:left; margin-bottom: 10px;}
.pub_one_half.last {width:45%; margin-left:5%; margin-bottom: 10px; text-align: right;}

.pub_one_half.last>div {
    vertical-align: top;
    display: inline-block;
}

.pub_btn {
    padding: 10px 10px;
    height: 20px;
    background: #E4E4E2;
    width: 100px;
    text-align: center;
}

.pub_btn a {
    color:#666;
    text-align: center;
    text-decoration: none;
}

.pub_btn:hover>a {
    color:#EEE;
    text-align: center;
    text-decoration: none;
}

.pub_btn:hover {
    color:#EEE;
    background: #CF5151;
}

.pub_delete {
    display: none;
}
