/*
Copyright © 2014, Florian Perdreau
This file is part of Journal Club Manager.

Journal Club Manager is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Journal Club Manager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Journal Club Manager.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Forms & Input field styles */

.formcontrol {
    vertical-align: top;
    display: inline-block;
    margin: 5px;
    font-size: 0;
}

label{
    display: inline-block;
    vertical-align: top;
    background-color: rgba(207,81,81,1);
    border: 1px solid rgba(207,81,81,1);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #EEE;
    padding: 4px 1px;

    min-width: 110px;
    height: 20px;
    line-height: 20px;
}

input[type='text'], input[type='email'], input[type='password'], .formcontrol>div, select, textarea {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 4px 2px 4px 10px;

    font-size: 12px;
    font-weight: 300;

    line-height: 20px;
    min-height: 20px;
    min-width: 250px;
    max-width: 100%;

    border: 1px solid rgba(207, 81, 81, .3);
    color: #777;
}

select {
    -webkit-appearance: menulist-button;
    height: 30px;
    text-transform: capitalize;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-bottom: 1px solid rgba(207,81,81,1);
}

input[type='radio'] {
    display: inline-block;
    width: 10%;
}

textarea {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 400;
    resize: none;

    /* Size and position */
    min-width: 250px;
    min-height: 150px;
    max-width: 100%;
}

input[type="submit"], input[type="button"] {
    cursor: pointer;
    background: #F9F9F9; /* Set button background */
    border: 1px solid rgba(207, 81, 81, 1); /* Small border around our submit button */
    padding: 8px; /* Add some more space around our button text */
    transition: all 0.3s ease 0s;
}

input[type="submit"]:hover, input[type="button"]:hover {
    color: #FFF;
    background: rgba(207, 81, 81, 1); /* Set button background */
    border: 1px solid #DFDFDF; /* Small border around our submit button */
    padding: 8px; /* Add some more space around our button text */
}

input[type="submit"]:active, input[type="button"]:active {
    color: #FFF;
    background: rgba(207, 81, 81, .5); /* Set button background */
    border: 1px solid #DFDFDF; /* Small border around our submit button */
    padding: 8px; /* Add some more space around our button text */
}

select#select_wish {
    width: 400px;
}

input.input_opt {
    display: inline-block;
    padding: 5px 2px 5px 2px;
    min-width: 100px;
    width: auto;
    border:1px solid rgba(207, 81, 81, .3);
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    margin: 0 auto;
}

select.select_opt {
    min-width: 30px;
    width: auto;
    border: 1px solid rgba(207, 81, 81, .3);
    padding: 5px 4px;
    color: #555;
}

.submit_btns {
    margin: 0 auto 0 0;
    float: right;
    text-align: right;
    width: 50px;
}

/* *********************************************************************/
/* Body
/* *********************************************************************/
html { height: 100%; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.2;
	width: 100%;
    min-width: 320px;
    box-sizing: border-box;
    margin: auto;
	background-color: #efefef;
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
    overflow-x: scroll;
}

a {
	text-decoration: none;
    color: rgba(207,81,81,1);
}

a:hover {
    color: #cccccc;
}

/* *********************************************************************/
/* Header
/* *********************************************************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: auto;
    z-index: 10;
    background-color: #555555;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    text-align: justify;
}

header >div{
    display: inline-block;
    height: 30px;
    vertical-align: bottom;
}

#sitetitle {
    background: rgba(150,150,150,.5);
    color: rgba(255,255,255,1);
    text-align: left;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 0 0px;
    padding: 5px 10px;
    position: relative;
    border-left: 5px solid rgba(207,81,81,1);
    left: 0;
}

#menu {
    width: auto;
    height: auto;
}

#login_box {
    margin: 5px 5px 0 0;
    height: auto;
    width: auto;
    float: right;
    padding: 5px 10px;
    background-color: #222222;
    border: 1px solid #FFF;
    color: #FFF;
    cursor: pointer;
}

/* *********************************************************************/
/* Menu
/* *********************************************************************/
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    color: rgba(207,81,81,1);
    margin-left: 15px;
}

nav li:hover {
    color: #cccccc;
}

.activepage {
    color: #cccccc;
}

/* additional menu */
.addmenu-pres, .addmenu-admin {
    display: none;
    position: absolute;
    background-color: rgba(34,34,34,.9);
    box-shadow: 0 2px 2px #555;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.addmenu-pres li, .addmenu-admin li {
    vertical-align: bottom;
    list-style: none;
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.addmenu-pres li:hover, .addmenu-admin li:hover {
    vertical-align: bottom;
    list-style: none;
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(34,34,34,.5);
    background: rgba(255,255,255,.5);
    color: #222222;
}



.addmenu-section {
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#addmenu {
    text-decoration: none;
    color: #aaaaaa;
}

#addmenu:hover {
    color: #eeeeee;
}

/* *********************************************************************/
/* HTML Structure
/* *********************************************************************/
#core {
    position: relative;
    z-index: 3;
    width: 70%;
    min-width: 320px;
    border: 1px solid #dddddd;
    padding: 0;
    margin: 0 auto 0 auto;
    background-color: #ffffff;
    min-height: 768px;
}

#footer {
    position: relative;
    z-index: 0;
    width: 500px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
	height: 15px;
	text-align: center;
	vertical-align: middle;
    margin: auto;
	background-color: rgba(50,50,50,1);
}

/* *********************************************************************/
/* Page Content
/* *********************************************************************/
.loadingDiv {
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    width:      100%;
    height: 100%;
    background: rgba( 255, 255, 255, .7)
    url('../images/spinner.gif')
    50% 50%
    no-repeat;
}

#pagecontent {
    display: none;
    position: relative;
}

#content {
    position: relative;
    padding: 50px 20px;
    width: 95%;
    margin: 0 auto;
    vertical-align: middle;
}

.plugins {
    display: block;
    margin: 50px 0 50px 0;
}

.page_description {
    text-align: justify;
    margin: 10px auto 10px auto;
    width: 80%;
    color: #222222;
    font-style: italic;
    font-size: 14px; /* Set message font size  */
    padding: 10px; /* Some padding to make some more space for our text  */
    background: rgba(207,81,81,.1); /* Add a background color to our status message   */
    border: 1px solid rgba(207,81,81,.2); /* Add a border arround our status message   */
}

.section_page {
    display: none;
}

.section_header {
    display: block;
    position: relative;
    background-color: rgba(187,81,81,1);
    color: #eeeeee;
    width: 200px;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    margin: 20px auto -10px auto;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    z-index: 11;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
    box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
}

.section_content {
    display: block;
    font-size: 16px;
    margin: auto;
    text-align: justify;
    padding: 20px;
    background-color: rgba(200,200,200,.1);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
    box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
}

.section_page {
    display: block;
    width: 100%;
    text-align: center;
}

.half_section {
    vertical-align: top;
    width: 60%;
    display: inline-block;
}

.half_section>div{
    vertical-align: top;
}

.section_left {
}

.section_right {
    width: 30%;
    margin-left: 20px;
}

.section_sub {
    display: block;
    font-size: 16px;
    margin: 20px 0 5px auto;
    padding: 0;
    width: 100%;
    border-top: 1px solid #999999;
    color: #999999;
    height: 20px;
    line-height: 20px;
    text-align: left;
    font-weight: bold;
}

.pub_section_content {
    line-height: 130%;
    font-size: 16px;
    margin: auto 50px auto auto;
    clear: left;
    width: 100%;
    text-align: justify;
    padding: 10px;
    background-color: rgba(127,127,127,.1);
}

/* *********************************************************************/
/* Home Page
/* *********************************************************************/
#welcome_msg {
    width: 60%;
    padding: 20px;
    margin: auto;
    background: rgba(127,127,127,.1);
    text-align: justify;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(127,127,127,1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(127,127,127,1);
    box-shadow: inset 0px 0px 5px 1px rgba(127,127,127,1);
}

.news {
    max-height: 400px;
    overflow-y: auto;
}

/* *********************************************************************/
/* Buttons
/* *********************************************************************/
.operation_button {
    width: 150px;
    padding: 5px;
    text-align: center;
    background-color: rgba(207,81,81,.8);
    border: 1px solid rgba(207,81,81,1);
    margin-top: 10px;
}

.operation_button>a {
    color: #EEEEEE;
}

.operation_button:hover{
    background-color: rgba(207,81,81,1);
}

.link {
    background-color: #333333;
    float: right;
    padding: 5px;
    border-radius: 5px;
    text-align: right;
    font-weight: bolder;
}

#author_name {
    color: rgba(207,81,81,1);
}

/* *********************************************************************/
/* Downloads
/* *********************************************************************/
.dl_btn {
    padding: 10px 10px;
    height: 20px;
    background: #E4E4E2;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.dl_btn:hover {
    color:#EEE;
    background: rgba(207,81,81,1);
}

.dlmenu {
    display: none;
    width: 130px;
    position: relative;
    z-index: 1100;
    margin: 0;
    padding: 0;
    text-align: center;
}

.dl_info {
    display: block;
    width: auto;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: rgba(200,200,200,.5);
    border-bottom: 1px solid rgba(207,81,81,1);
}

.dl_info:hover {
    background-color:rgba(207,81,81,1);
}

.dl_info:active {
    background-color: rgba(34,34,34,.5);
}

.upl_name.dl_name {
    display: inline-block;
    line-height: 30px;
    width: 80px;
    white-space: pre-wrap;
    font-weight: bold;
}

.upl_name.dl_name:hover {
    color: #EEEEEE;
}

.dl_type {
    display: inline-block;
    width: auto;
    padding: 0 5px 0 5px;
    margin: 0;
    font-weight: bold;
    background-color: #555555;
    color: #EEEEEE;
}

/* *********************************************************************/
/* Uploads
/* *********************************************************************/
.upl_container {
    display: block;
    width: 500px;
    height: auto;
    padding: 10px;
    margin: 20px auto 10px auto;
    background-color: #222222;
    border: 1px solid #000000;
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 37px 1px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 37px 1px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 37px 1px rgba(0,0,0,1);
}

.dragging {
    background-color: #444444;
}

.upl_form {
    width: 400px;
    text-align: center;
    margin: auto;
    clear: both;
}

.upl_btn {
    display: block;
    margin: 0 auto 0 auto;
    width: 200px;
    height: auto;
    line-height: 30px;
    background-color: #444444;
    color: rgba(207,81,81,1);
    border: 1px solid #999;
    padding: 0px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,1);
}

.upl_btn:hover {
    background-color: #666666;
}

.upl_btn:active {
    background-color: #222222;
    padding: 6px 10px 4px;
}

.upl_errors {
    display: none;
    width: 100%;
    color: #990000;
    font-size: 13px; /* Set message font size  */
    padding: 5px; /* Some padding to make some more space for our text  */
    background-color: rgba(255,255,255,.9); /* Add a background color to our status message   */
    border: 1px solid #DFDFDF; /* Add a border arround our status message   */
}

.upl_filetypes {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    font-weight: normal;
}

.upl_filelist {
    width: 95%;
    height: auto;
    padding: 10px;
    margin: 0;
}

.upl_info {
    display: inline-block;
    width: 190px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    cursor: pointer;
    background-color: #bbbbbb;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,1);
}

.upl_info>div {
    display: table-cell;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.upl_name {
    line-height: 30px;
    white-space: pre-wrap;
    width: 160px;
    font-weight: bold;
}

.upl_name:hover {
    background-color:rgba(207,81,81,1);
    color: #EEEEEE;
}

.upl_type {
    display: inline-block;
    padding: 0 5px 0 5px;
    margin-left: 0;
    font-weight: bold;
    background-color: #555555;
    color: #EEEEEE;
}

.del_upl {
    background-color: #666666;
    line-height: 30px;
    border-left: 1px solid #999999;
    width: 30px;
    padding-left: 5px;
}

.del_upl:hover {
    background-color: rgba(207,81,81,.8);
}

.del_upl:active {
    background-color: #444444;
}

/* Archives */
.current {
    background: rgba(127,127,127,.3);
}

.pub_container {
    background: rgba(200,200,200,.5);
    width: 100%;
    padding: 0;
    margin: 0 0 5px 0;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
}

.pub_container:hover {
    background: rgba(127,127,127,.5);
    color: #eeeeee;
}

#pub_labels {
    width: 100%;
    margin: auto;
    font-size: 14px;
    border-bottom: 1px solid #222222;
}

.show_btn {
    cursor: pointer;
    background-color: #BE4141;
    padding: 2px;
    margin: 0;
    width: 50px;
    height: 22px;
    text-align: center;
    color: #FFFFFF;
    line-height: 22px;
}

.show_btn>a {
    color: #FFFFFF;
    text-decoration: none;
}

.show_btn:hover {
    background-color: #CF5252;
    color: #FFFFFF;
}

.show_pres>a {
    text-decoration: none;
}

.show_pres:hover {
    cursor: pointer;
}

/* *********************************************************************/
/* Archives
/* *********************************************************************/
.list-container {
    display: inline-block;
    font-size: 9pt;
    vertical-align: baseline;
    text-align: justify;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.list-container > div {
    display: inline-block;
    vertical-align: top;
}

.list-container:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.list-heading {
    font-size: 11pt;
    font-weight: bold;
    text-align: left;
}

.list-section {
    text-align: left;
}

/* *********************************************************************/
/* Admin - Plugins
/* *********************************************************************/
.plugDiv {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
}

.plugDiv .formcontrol {
    margin: 5px 5px 0 0;
}

.plugLeft {
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.plugName {
    font-weight: 600;
    color: #222;
    vertical-align: top;
    margin-bottom: 5px;
}

.plugTime {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.optBar {
    margin-top: 20px;
    display: block;
    vertical-align: bottom;
}

.plugSettings {
    display: inline-block;
    margin-bottom: 10px;
}

.plugOpt {
    font-size: 0.8em;
    padding: 10px;
    margin: 10px auto 10px auto;
    border: 2px dashed #ddd;
    display: none;
    width: 100%;
}

.workBtn {
    display:inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: rgba( 255, 255, 255, 1);
    border: 2px solid rgba(207,81,81,1);
}

.workBtn:hover{
    border: 2px solid rgba(34, 34, 34, 1);
    background-color: rgba(207,81,81,1);
}

.loadBtn {
    background: rgba( 255, 255, 255, 1)
    url('../images/small_loader.gif')
    50% 50%
    no-repeat;
    background-size: 20px 20px;
}

.installBtn {
    background: rgba( 255, 255, 255, 1)
    url('../images/install_btn.png')
    50% 50%
    no-repeat;
    background-size: 20px 20px;
}

.uninstallBtn {
    background: rgba( 255, 255, 255, 1)
    url('../images/delete.png')
    50% 50%
    no-repeat;
    background-size: 20px 20px;
}

.runBtn {
    background: url('../images/run.png') 50% 50%
    no-repeat;
    background-size: 20px 20px;

}

.settingsBtn {
    background: rgba( 255, 255, 255, .7)
    url('../images/settings.png')
    50% 50%
    no-repeat;
    background-size: 20px 20px;
}
/* *********************************************************************/
/* Admin - session/presentation management
/* *********************************************************************/
.type_list {
    height: auto;
    padding: 5px;
    margin: auto;
    background-color: rgba(200,200,200,.5);
    border: 1px dashed #555555;
    box-sizing: border-box;
}

.type_div {
    background: #222222;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 5px;
}

.type_div>div {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    height: 30px;
    line-height: 30px;
}

.type_name {
    padding: 0 5px;
    background-color: #bbbbbb;
    text-align: center;
    min-width: 100px;
    font-weight: 500;
}

.type_name:hover {
    background-color:rgba(207,81,81,1);
    color: #EEEEEE;
}

.type_del {
    position: relative;
    width: 30px;
    height: 30px;
    background: #666666 url('../images/close.png') no-repeat;
}

.type_del:hover {
    background-color: rgba(207,81,81,.8);
}

.type_del:active {
    background-color: #444444;
}

.session_div {
    display: block;
    width: 95%;
    height: auto;
    margin: 10px auto 10px auto;
    padding: 0 10px 10px 10px;
    border-top: 1px solid #555;
    background-color: rgba(255,255,255,.5);
}

.session_header {
    top: 0;
    left: 0;
    margin: 0 0 5px 0;
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    border: 0;
    padding: 0;
}

.session_header>div {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 20px;
    line-height: 20px;
    padding: 5px;
}

.session_date {
    background-color: #555555;
    text-align: center;
    color: #FFF;
}

.session_status {
    text-align: center;
    background-color: rgba(207,81,81,.8);
    color: #FFF;
}

.session_core {
    vertical-align: top;
    text-align: left;
}

.session_core>div {
    display: inline-block;
    vertical-align: middle;
}

.session_presentations {
    margin: 0 auto 0 0;
    vertical-align: top;
    width: 40%;
}

/* *********************************************************************/
/* Text/Messages
/* *********************************************************************/
#pagename {
    display: block;
    margin-left: -10px;
    color: #555555;
    font-size: 35px;
}

#sign {
    text-align: right;
    color: #cccccc;
    font-size: 14px;
}

/* Alerts */

.warningmsg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    background-color: rgba(164, 33, 27, 1); /* Add a background color to our status message   */
    color: #FFF;
    padding: 10px;
}

.feedback {
    content: "";
    min-width: 200px;
    width: auto;
    min-height: 30px;
    height: auto;
}

#warning {
    color: #990000;
    font-size: 13px; /* Set message font size  */
    padding: 5px; /* Some padding to make some more space for our text  */
    background-color: rgba(127,0,0,.2); /* Add a background color to our status message   */
    border: 1px solid #DFDFDF; /* Add a border arround our status message   */
}

#status {
	width: 100%;
    color: #000099;
    font-size: 13px; /* Set message font size  */
    padding: 5px; /* Some padding to make some more space for our text  */
    background-color: rgba(0,0,127,.2); /* Add a background color to our status message   */
    border: 1px solid #DFDFDF; /* Add a border arround our status message   */
}

#success {
    color: #009900;
    font-size: 13px; /* Set message font size  */
    padding: 3px; /* Some padding to make some more space for our text  */
    background-color: rgba(0,127,0,.2); /* Add a background color to our status message   */
    border: 1px solid #DFDFDF; /* Add a border arround our status message   */
}

/* *********************************************************************/
/* Modal dialog box
/* *********************************************************************/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/* Publication modal window */
.modalContainer {
    position:relative;
    top:auto;
    bottom:auto;
    margin: auto;

    max-height: 90%;
    text-align: left;
}

.modalContainer .modal_section {
    display: none;
    margin: auto;
    width: auto;
}

.popupBody {
    min-width: 500px;
    max-width: 500px;
    max-height: 500px;
    padding: 10px;
    overflow: auto;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,1);
}

/* Popup Styles*/
.popupHeader {background: #FFF; font-size:16px; font-weight: 300; text-transform: uppercase; color: #222;}
.popupHeader {position: relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:5px; padding:10px 15px; background: url('../images/delete.png') no-repeat; background-position: center center; background-size: 50% auto; cursor: pointer; color:#aaa; font-size:16px;}
.modal_close {
    vertical-align: top;
    display: inline-block;
    position: relative;
    right: 0;
    top:0;
    padding:10px 15px;
    background: url('../images/close.png') no-repeat;
    background-position: center center;
    background-size: 50% auto;
    cursor: pointer;
    color:#aaa;
    font-size:16px;
}

.header_title {
    font-size:1.2em;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom:1px solid #DDD;
    margin-bottom: 10px;
}

.action_btns {
    width: 100%;
    display: inline-block;
    margin: 20px 0 10px;
    clear: both;
    text-decoration: none;
    color:#ED6347;
}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: rgba(207,81,81,1); color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #BE4141;}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%; text-align: right;}

.forgot_password {
    margin: 10px auto 10px auto;
    text-align: center;
    text-decoration: none;
    color:#ED6347;
}

input.dateinput {
    cursor: pointer;
    display: inline-block;
    width: auto;
}

.pub_caps {
    display: block;
    background-color: #dddddd;
    padding: 10px;
}

#pub_date {
    width:20%;
    display: inline;
}

#pub_title {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

#pub_orator {
    margin-right: 5px;
    text-align: right;
    width: 50%;
    display: inline;
}

.pub_abstract {
    display: block;
    padding: 10px;
    margin-top: 10px;
    text-align: justify;
    background-color: #eeeeee;
}

.pub_action_btn {
    width: 100%;
    margin: 10px 0 auto 0;
    text-align: justify;
}

.pub_action_btn>div {
    vertical-align: top;
    display: inline-block;
}

.pub_one_half {width:50%; display: block; float:left; margin-bottom: 10px;}
.pub_one_half.last {width:45%; margin-left:5%; margin-bottom: 10px; text-align: right;}

.pub_one_half.last>div {
    vertical-align: top;
    display: inline-block;
}

.pub_btn {
    padding: 5px 10px;
    background: #E4E4E2;
    text-align: center;
    text-transform: uppercase;
}

.pub_btn a {
    color:#666;
    text-align: center;
    text-decoration: none;
}

.pub_btn:hover>a {
    color:#EEE;
    text-align: center;
    text-decoration: none;
}

.pub_btn:hover {
    color:#EEE;
    background: rgba(207,81,81,1);
}

.pub_delete {
    display: none;
}

/* *********************************************************************/
/* JQuery DatePicker custom style
/* *********************************************************************/
.ui-datepicker {
    background: url('img/darkdenim3.png') repeat 0 0 #000;
    background-color: #555555;
    width: auto;
    height: auto;
    margin: 5px auto 0;
    font: 9pt 'Lato', Calibri, Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker a {
    text-decoration: none;
}
/* DatePicker AppTable */
.ui-datepicker table {
    width: 100%;
}
.ui-datepicker-header {
    /*background: url('img/dark_leather.png') repeat 0 0 #000;*/
    background-color: #222222;
    color: #e0e0e0;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0px #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}
.ui-datepicker-title {
    text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background: url('img/arrowsoff.png') no-repeat;
    line-height: 600%;
    overflow: hidden;
}

.ui-datepicker-prev-hover, .ui-datepicker-next-hover {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background: url('img/arrowson.png') no-repeat;
    line-height: 600%;
    overflow: hidden;
}

.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}
.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

.ui-datepicker thead {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
    background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
    border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
    text-transform: uppercase;
    font-size: 8pt;
    padding: 5px 0;
    /*color: #666666;*/
    color: rgba(207,81,81,1);
    text-shadow: 1px 0px 0px #fff;
}
.ui-datepicker tbody td {
    padding: 0;
}
.ui-datepicker tbody td:last-child {
    border-right: 0px;
}
.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #222222;
}

.ui-datepicker-calendar .ui-state-default {
    background: #dddddd;
}

.ui-datepicker-calendar .ui-state-hover {
    background: #F5D3D3;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

.jcday .ui-state-default {
    color: #3399FF;
    font-weight:bold;
    font-size: 11pt;
}

.jcday_rem .ui-state-default{
    color: #FC7830;
    font-weight:bold;
    font-size: 11pt;
}

.bookedday .ui-state-default{
    color: #b43d3d;
}

.activeday .ui-state-default{
}

.pastday .ui-state-default{
    opacity: 0.5;
    background: #f4f4f4;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}
