#ignore PhpStorm folder
/.idea/

#ignore logs files
*.txt

#ignore uploaded files
/uploads/
*.sql
*.zip

#ignore local configuration file
/config/config.php

#ignore development folder
/dev/

#Ignore log files
/logs/

# Ignore vendors
/vendor/